<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:fragment="header">
    <a class="navbar-brand" th:href="@{/}">OTheatreApp</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Upcoming events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/profile}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/manageEvents}">ManageEvents</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin}">Admin</a>
        </li>
    </ul>
</nav>


</body>
</html>